.container-fluid{
	margin-left: 15%;
	margin-right: 15%;
}
.container{
}
.row {
	height: 30%;
	/*background-color: red;*/
	text-align: center;
}
#main-nav {
	align-content: center;
	text-align: center;
}
.center{
	text-align: center;
}
.top-nav{
	margin-top: 20px;
	font-weight: bolder;
}
.left-half{
	width: 50%;
	float: left;
}
.right-half{
	width: 50%;
	float: left;
}

.login{
	margin: 10px 200px 10px 20px;
	width: 600px;
}

/*Marquee*/
#marquee1 {
	overflow-x: marquee-line;
	marquee-style: scroll;
	marquee-direction: backward;
}